---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Galarte Web">
  <main class="flex flex-col h-screen">
    <span>ARTISTAS</span>
    <!-- <Title /> -->
    <!-- <ArtWorks /> -->
  </main>
</Layout>
