---
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Galarte Web">
  <main class="grid grid-rows-2 md:grid-rows-1 md:grid-cols-2 overflow-y-auto">
    <section
      class="artist flex flex-col items-center md:items-end gap-2 text-4xl md:text-6xl font-bold overflow-auto py-8 md:p-0 md:pt-20 pr-8 md:border-r md:row-start-1 md:row-end-2"
    >
      <h3>Ornella Pocetti</h3>
      <h3>Ornella Pocetti</h3>
      <h3>Ornella Pocetti</h3>
      <h3>Ornella Pocetti</h3>
      <h3>Ornella Pocetti</h3>
      <h3>Ornella Pocetti</h3>
      <h3>Ornella Pocetti</h3>
      <h3>Ornella Pocetti</h3>
      <h3>Ornella Pocetti</h3>
      <h3>Ornella Pocetti</h3>
      <h3>Ornella Pocetti</h3>
    </section>
    <section class="justify-start h-full overflow-hidden">
      <img
        id="artist-image"
        src="./images/ornella_pocetti.jpg"
        alt="Hovered Artist's Image"
        class="md:hidden w-full md:w-3/5 md:pt-20 md:pl-8 md:pb-8 aspect-auto"
      />
    </section>
    <Footer className="col-span-full" />
  </main>
</Layout>

<style>
  .artist {
    scrollbar-width: none;
  }

  h3 {
    color: #000;
    transition: all 0.2s;
  }

  h3:hover {
    color: #ff9100;
    cursor: pointer;
    transform: translateX(-5px); /* Equivalente a translateX(10px) */
    transition: all 0.2s;
  }
</style>

<script>
  function showImage() {
    const img = document.querySelector<HTMLElement>("#artist-image");

    if (img) img.style.display = "block";
  }

  function hideImage() {
    const img = document.querySelector<HTMLElement>("#artist-image");
    if (img) img.style.display = "none";
  }

  const h3s = document.querySelectorAll("h3");

  if (h3s)
    h3s.forEach((h3) => {
      h3.addEventListener("mouseenter", showImage);
      h3.addEventListener("mouseleave", hideImage);
      h3.addEventListener("click", () => {
        location.href = "/artists/ornella-pocetti"; //generalizar para cada artista
      });
    });
</script>
