---
import type { HeroPhoto } from '~/types';

export interface Props {
  id?: string;
  title?: string;
  titleStyle?: string;
  subtitle?: string;
  subtitleStyle?: string;
  tagline?: string;
  content?: string;
  photos?: string | HeroPhoto[];
  image?: string | any; // TODO: find HTMLElementProps
}

const { id } = Astro.props;
---

<div class="flex flex-col">
  <section
    class="grid grid-cols-[70%_30%] gap-[1.4rem] ml-auto justify-end mr-9 w-3/5 h-full relative"
    {...id ? { id } : {}}
  >
    <article class="flex flex-col gap-10 h-full box-border justify-center">
      <section class="flex flex-col self-start">
        <h1 class="text-4xl md:text-8xl font-bold text-gray-900 dark:text-gray-100 tracking-wide translate-x-[.32em]">
          GALERIA
        </h1>
        <p class="text-lg md:text-4xl tracking-wide text-gray-600 dark:text-gray-400 translate-x-60">
          Aspira A Inspirar.
        </p>
      </section>
      <section class="flex gap-2 justify-around">
        <img
          src="/hero-phot-2.jpeg"
          alt=""
          class="object-cover h-full w-72 rounded-lg shadow-lg hover:scale-105 transition-all"
        />
        <img
          src="/hero-phot-3.jpg"
          alt=""
          class="object-cover h-full w-72 rounded-lg shadow-lg hover:scale-105 transition-all"
        />
      </section>
    </article>
    <article class="flex flex-col box-border justify-between">
      <section class="flex">
        <img
          src="/hero-phot-1.jpg"
          alt=""
          class="object-cover h-[20rem] w-72 rounded-lg shadow-lg hover:scale-105 transition-all"
        />
      </section>
      <section class="flex">
        <img
          src="/hero-phot-4.jpg"
          alt=""
          class="object-cover h-[17.2rem] w-72 rounded-lg shadow-lg hover:scale-105 transition-all"
        />
      </section>
    </article>
  </section>
  <section class="flex ml-auto mr-6 py-2 gap-4 items-center hover:scale-95 transition-all cursor-pointer">
    <h1 class="text-xl md:text-2xl font-semibold text-gray-900 dark:text-gray-100 tracking-wider">Explorar Más</h1>
    <img src="/arrow-left.svg" alt="" class="h-5 w-20 invert rotate-180" />
  </section>
</div>
