---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Galarte Web">
  <main class="flex flex-col h-screen">
    <span>SHOP</span>
    <a href="/shop/1">1</a>
    <!-- <Title /> -->
    <!-- <ArtWorks /> -->
  </main>
</Layout>
