---
import Artwork from "@components/Artwork.astro";
import { API_URL } from "@const/consts";
import Layout from "@layouts/Layout.astro";
import { type IArtwork } from "src/types/artwork";
import { type ServiceResponse } from "src/types/serviceResponse";

const response = await fetch(`${API_URL}/artworks`);
const { data: artworks }: ServiceResponse<IArtwork[]> = await response.json();
---

<Layout title="Galarte Web" withoutFooter>
  <main
    class="bg-light overflow-y-auto flex flex-col justify-between items-center"
  >
    <header class="border border-t-0 border-primary flex w-full">
      <h3 class="uppercase font-medium text-center flex grow justify-end">
        categorias
      </h3>
      <input
        type="text"
        placeholder="Buscar"
        class="font-medium w-1/2 md:w-1/6 border-l border-primary bg-light box-border mx-4 placeholder:uppercase bg-transparent pl-4 focus:outline-none"
      />
    </header>
    <div
      class="w-full overflow-y-hidden grid md:grid-cols-4 gap-16 py-8 md:py-6 px-12"
    >
      {
        artworks.map((artwork) => {
          return <Artwork artwork={artwork} />;
        })
      }
    </div>
    <!-- <Button text="Cargas más obras" className="my-4" /> -->
  </main>
</Layout>
