---
import ArtistCard from "@components/ArtistCard.astro";
import Footer from "@components/Footer.astro";
import { ABOUT_US } from "@const/about-us";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Galarte Web">
  <section
    class="flex flex-col md:grid md:grid-rows-[1fr_auto] md:place-items-center w-full overflow-y-auto"
  >
    <h4 class="w-full p-6 text-3xl font-bold md:hidden">¿Quiénes somos?</h4>
    {
      ABOUT_US.map((block) => (
        <p
          class="w-full px-6 pb-2 text-justify md:hidden"
          id={`paragraph-${block.id}`}
        >
          {block.paragraph}
        </p>
      ))
    }
    <p class="hidden md:block w-1/2 text-justify">
      Galarte es una galería de arte contemporáneo online. Nuestro objetivo es
      brindar apoyo integral a los artistas, guiándolos en la venta y
      divulgación de sus obras. Buscamos ser el nexo entre las creaciones
      artísticas y el consumidor de arte, facilitando que cada obra llegue a los
      posibles y diversos públicos interesados. Buscamos piezas en diferentes
      formatos y técnicas: desde pinturas, fotografías, grabados, ilustraciones
      y esculturas hasta objetos útiles y accesorios atemporales. Valoramos el
      buen diseño y la creatividad, y estamos abiertos a explorar nuevas
      técnicas que enriquezcan nuestro catálogo. Creemos en el poder del arte
      para transformar espacios y nos enfocamos en la venta de obras que los
      embellecen. Seleccionamos piezas que transforman cualquier ambiente en un
      lugar especial. Nos proponemos vincular el arte con lo doméstico y lo
      cotidiano. Galarte surge de la experiencia de una de nuestras socias,
      quien comprendió la dificultad de equilibrar la creación artística con la
      venta. Observamos que muchos artistas no tienen el tiempo ni las
      habilidades necesarias para vender su arte, lo que puede convertirse en un
      obstáculo significativo. Nuestro propósito es eliminar esta barrera,
      permitiendo que los artistas se concentren en su trabajo creativo mientras
      nosotros nos encargamos de la comercialización. Nuestro compromiso desde
      Galarte es tener una tienda online actualizada, realizar contenido de
      redes y publicidad digital activa para la difusión y promoción de las
      obras, la búsqueda constante de nuevos clientes y llevar a cabo la
      logística de embalaje y envío. Como equipo de la galería aspiramos a que
      esto no sea sólo una galería; deseamos crecer junto a los artistas en un
      camino que pueda decantar en muchísimas posibilidades. Esperamos que tus
      deseos se alineen a los nuestros y poder, así, iniciar
      juntos este proceso.
    </p>
    <section
      class="w-full p-6 pt-0 md:px-0 md:py-0 grid gap-y-4 md:gap-0 md:grid-cols-4"
    >
      {
        Array.from({ length: 4 }).map((e, i) => {
          return (
            <ArtistCard
              imageUrl="/images/artist.webp"
              artistName={`Item ${i + 1}`}
              artistInfo="En 2023 Lucía Carrera,curiosa, geminiana denacimiento y artista visual de formación, sesumó como quinta socia,conuna mirada renovada y el mismo deseo de promover el arte de nuestro país."
            />
          );
        })
      }
    </section>
  </section>
</Layout>
