---
import Layout from "../layouts/Layout.astro";
import Title from "../sections/Title.astro";
import ArtWorks from "../sections/ArtWorks.astro";
---

<Layout title="Galarte Web">
  <main>
    <Title />
    <ArtWorks />
  </main>
</Layout>
