---
import Button from "@components/Button.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Sumate">
  <section
    class="w-full md:w-2/5 flex flex-col items-start justify-center px-8 md:px-16"
  >
    <h1 class="capitalize text-5xl md:text-4xl font-bold pb-4">
      Sé parte de Galarte 🎨
    </h1>
    <p class="text-lg font-normal py-20 md:py-0 md:pb-24">
      Recibí novedades, promociones y avisos sobre eventos exclusivos en tu
      correo. ¡No te pierdas nada!
    </p>
    <section class="w-full">
      <input
        type="email"
        placeholder="example@example.com"
        class="text-sm font-semibold border border-primary px-3 py-1 w-1/2"
      />
      <Button text="Enviar" />
    </section>
  </section>
</Layout>
