---
interface Props {
  imageUrl: string;
  artistName: string;
  artistInfo: string;
}

const { imageUrl, artistName, artistInfo } = Astro.props;
---

<article class="flex md:p-8 border md:border-r-0">
  <img
    src={imageUrl}
    alt={`Imagen del artista ${artistName}`}
    height="100%"
    class="w-1/2 md:w-[35%] object-cover"
  />
  <section class="flex flex-col p-4 md:p-0 md:px-4">
    <h5 class="uppercase text-secondary font-medium">{artistName}</h5>
    <span class="pt-4">{artistInfo}</span>
  </section>
</article>
