---
import type { IArtwork } from "../types/artwork";
import Button from "./Button.astro";

interface Props {
  artwork: IArtwork;
  artistName: string;
}

const { artwork, artistName } = Astro.props;
---

<article class="grid grid-cols-2 p-4 overflow-y-hidden">
  <img
    src={artwork.image}
    alt=`Obra de ${artistName}`
    class="w-full h-64 aspect-auto object-cover"
  />
  <section
    class="relative flex flex-col justify-between items-start pl-2 uppercase text-md tracking-widest"
  >
    <span>{artwork.name}</span>
    <a href={`/shop/${artwork.id}`}>
      <Button id="see-more" text="Ver más" />
    </a>
  </section>
</article>
