---
import type { IArtwork } from "../types/artwork";
import Button from "./Button.astro";

interface Props {
  artwork: IArtwork;
  artistName: string;
}

const { artwork, artistName } = Astro.props;
---

<article class="grid grid-cols-2 p-4 overflow-y-hidden">
  <img
    src={artwork.image}
    alt=`Obra de ${artistName}`
    class="w-full aspect-square object-cover"
  />
  <section
    class="relative grid place-items-center uppercase text-md tracking-widest"
  >
    <span>{artwork.name}</span>
    <Button
      id="see-more"
      text="Ver más"
      className="absolute bottom-2 right-8"
    />
  </section>
</article>
