<section
  class="gallery justify-center h-full pt-[2%] flex overflow-x-scroll md:overflow-x-visible"
>
  <article
    class="panel left md:border-y-2 md:border-black hidden md:flex justify-center h-[87%] gap-12 items-center grow z-10 bg-light"
  >
    <img
      src="/images/panel_lateral_1.webp"
      alt=""
      class="w-2 md:w-2/5 md:h-3/4"
    />
    <img
      src="/images/panel_lateral_2.webp"
      alt=""
      class="w-2/5 h-3/4 object-cover"
    />
  </article>
  <article
    class="flex md:justify-center items-center w-full md:w-[67%] h-full md:h-[87%] md:border-2 md:border-black box-border gap-x-4 md:gap-24"
  >
    <img
      src="/images/panel_lateral_1.webp"
      alt=""
      class="ml-4 w-5/6 md:w-2/5 h-3/4 md:hidden"
    />
    <img
      src="/images/panel_lateral_1.webp"
      alt=""
      class="w-5/6 md:w-2/5 h-3/4 object-cover md:hidden"
    />
    <img
      src="/images/panel_central_1.webp"
      alt=""
      class="w-5/6 md:w-2/5 h-3/4"
    />
    <img
      src="/images/panel_central_1.webp"
      alt=""
      class="w-5/6 md:w-2/5 h-3/4"
    />
    <img
      src="/images/panel_central_1.webp"
      alt=""
      class="w-5/6 md:w-2/5 h-3/4"
    />
    <img
      src="/images/panel_lateral_1.webp"
      alt=""
      class="w-5/6 md:w-2/5 h-3/4 md:hidden"
    />
    <img
      src="/images/panel_lateral_1.webp"
      alt=""
      class="pr-4 w-5/6 md:w-2/5 h-3/4 md:hidden"
    />
  </article>
  <article
    class="panel right md:border-y-2 md:border-black hidden md:flex justify-center h-[87%] gap-12 items-center grow z-10 bg-light"
  >
    <img
      src="/images/panel_lateral_2.webp"
      alt=""
      class="w-2/5 h-3/4 object-cover"
    />
    <img
      src="/images/panel_lateral_1.webp"
      alt=""
      class="w-2/5 h-3/4 hover:transform:skew-x-0"
    />
  </article>
</section>

<style>
  .gallery {
    perspective: 1500px; /* Ajusta la perspectiva para controlar la profundidad */
  }

  .panel {
    transition: transform 0.5s;
  }

  .left {
    transform-origin: center right; /* Origina la transformación desde el borde izquierdo */
    transform: rotateY(60deg); /* Rota el panel en el eje Y */
  }

  .right {
    transform-origin: center left; /* Origina la transformación desde el borde izquierdo */
    transform: rotateY(-60deg); /* Rota el panel en el eje Y */
  }

  img {
    transition: 0.5s ease all;
  }

  img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s ease all;
  }

  @media screen and (max-width: 768px) {
    .gallery {
      perspective: none;
    }

    .panel {
      transform: none;
    }
  }
</style>
