---
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<footer
  class=`flex justify-center h-fit box-border flex-col-reverse py-4 md:flex-row gap-4 items-center md:gap-8 border-t ${className}`
>
  <section class="flex gap-2 justify-center items-center">
    <img
      src="/icons/instagram.png"
      alt="search icon"
      class="w-4 h-4 transform: scale-x-[-1]"
    />
    <img src="/icons/mail.png" alt="search icon" class="w-4 h-4" />
  </section>
  <span class="flex justify-center md:block text-center">
    GALARTE TIENDA DE ARTE © CASI TODOS LOS DERECHOS RESERVADOS.</span
  >
</footer>

<style>
  span {
    font-family: "JetBrains Mono", monospace;
    color: #13151a;
    text-decoration: none;
    font-size: 12px;
  }
</style>
