<footer class="flex justify-center gap-8 box-border pb-4">
  <section class="flex gap-2 justify-center">
    <img
      src="/icons/instagram.png"
      alt="search icon"
      class="w-4 h-4 transform: scale-x-[-1]"
    />
    <img src="/icons/mail.png" alt="search icon" class="w-4 h-4" />
  </section>
  <span> GALARTE TIENDA DE ARTE © CASI TODOS LOS DERECHOS RESERVADOS.</span>
</footer>

<style>
  span {
    font-family: "JetBrains Mono", monospace;
    color: #13151a;
    text-decoration: none;
    margin-left: 1rem;
    font-size: 12px;
  }
</style>
