---
import "@fontsource-variable/jetbrains-mono";
import Logo from "./Logo.astro";
---

<header
  class="border-b-2 border-black w-full flex justify-between items-center box-border p-4 z-10 relative"
>
  <section class="flex w-1/3">
    <Logo />
  </section>
  <nav
    class="box-border pr-8 gap-2 w-fit md:w-1/3 justify-center hidden md:flex flex-col md:flex-row fixed right-4 top-16 z-50 border bg-light md:bg-none md:border-0 md:relative md:top-0 md:right-0 md:z-0"
  >
    <a href="/artists">artistas</a>
    <a href="/shop">tienda</a>
    <a href="/about-us" class="w-fit">quiénes somos</a>
    <a href="/join-us">sumate</a>
  </nav>
  <section class="flex gap-4 w-1/3 justify-end">
    <!-- <img
      src="/icons/search.png"
      alt="search icon"
      class="w-7 h-7 transform: scale-x-[-1]"
    />
    <img src="/icons/shopping_bag.png" alt="search icon" class="w-7 h-7" />
    <button>
      <img src="/icons/menu.png" alt="search icon" class="w-7 h-7 md:hidden" />
    </button> -->
  </section>
</header>

<style>
  header {
    background-color: #f6f6f6;
    border-bottom: 1px solid #13151a;
  }

  nav a {
    font-family: "JetBrains Mono", monospace;
    color: #13151a;
    text-decoration: none;
    margin-left: 1rem;
    font-size: 18px;
    text-transform: uppercase;
  }

  nav a:hover {
    text-decoration: underline;
    transition: 0.5s ease-in-out all;
  }

  img:hover {
    cursor: pointer;
  }
</style>

<script>
  document.querySelector("button")?.addEventListener("click", () => {
    document.querySelector("nav")?.classList.toggle("hidden");
    document.querySelector("nav")?.classList.add("flex");
  });
</script>
