---
import { SITE } from 'astrowind:config';
---

<section
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-3xl font-black text-[#030620] whitespace-nowrap uppercase"
>
  {SITE.name}
</section>
