---
import Logo from "../components/Logo.astro";
---

<section
  class="flex justify-center items-start relative animate-blurred-fade-in animate-duration-600"
>
  <article id="blurred-text" class="h-full w-full z-10 absolute top-[-22em]">
    <Logo fill="#f8f8f8" />
  </article>
  <article
    id="title"
    class="h-full w-full absolute top-[-21.5em] filter blur-md"
  >
    <Logo fill="#454545" />
  </article>
</section>
