---
import "@fontsource/asul/400.css";
import "@fontsource/asul/700.css";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="TODO" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <div class="max-w-6xl px-10 pt-32 mx-auto">
      <slot />
    </div>
  </body>
</html>
<style is:global>
  html {
    font-family: "Asul", system-ui, sans-serif;
    background: #13151a;
  }

  body,
  html {
    height: 100%;
  }

  body {
    background-image: url("./images/background_desktop.webp");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
